{% extends 'components/layout.html' %}

{% block content %}
<form
  action="/password"
  class="card mx-auto position-absolute top-50 start-50 translate-middle p-2 d-grid gap-3"
  style="width: 20rem"
>
  <label for="length"><h5>Select the length of your password:</h5></label>
  <select name="length" class="form-select" id="length">
    <option value="6">6 Characters</option>
    <option value="7">7 Characters</option>
    <option value="8">8 Characters</option>
    <option value="9">9 Characters</option>
    <option value="10">10 Characters</option>
    <option value="11">11 Characters</option>
    <option value="12">12 Characters</option>
    <option value="13">13 Characters</option>
    <option value="14">14 Characters</option>
  </select>
  <div class="form-check form-switch">
    <label class="form-check-label" for="uppercase">Uppercase</label>
    <input
      class="form-check-input bg-dark"
      type="checkbox"
      role="switch"
      name="uppercase"
      id="uppercase"
    />
  </div>
  <div class="form-check form-switch">
    <label class="form-check-label" for="numbers">Numbers</label>
    <input
      class="form-check-input bg-dark"
      type="checkbox"
      role="switch"
      name="numbers"
      id="numbers"
    />
  </div>
  <div class="form-check form-switch">
    <label class="form-check-label" for="special">Special</label>
    <input
      class="form-check-input bg-dark"
      type="checkbox"
      role="switch"
      name="special"
      id="special"
    />
  </div>
  <button class="btn btn-dark">generate password</button>
</form>
{% endblock %}

